
table.mat-table {
  border-spacing: 0;
  width: 400px;
}

.example-first-header-row th {
  border-bottom: none;
}

.example-second-header-row {
  font-style: italic;
}

.example-first-footer-row {
  font-weight: bold;
}

.example-second-footer-row td {
  font-style: italic;
}

td.mat-cell:last-of-type, td.mat-footer-cell:last-of-type {
  padding-right: 0;
}

:host ::ng-deep .mat-form-field-appearance-outline .mat-form-field-flex {
  padding: 0;
  margin-top: -0.25em;
  position: relative;
}

:host ::ng-deep .mat-form-field-infix {
  width: 120px;
}

tr.mat-footer-row {
  font-weight: bold;
}

.fabButton {
  float: right;
  margin: 10px 2.5rem;
}
